<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agoni.dgy.mapper.GraduateMapper">

    <resultMap id="BaseResultMap" type="com.agoni.dgy.model.po.Graduate">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="mustScore" column="must_score" jdbcType="INTEGER"/>
            <result property="selectScore" column="select_score" jdbcType="INTEGER"/>
            <result property="graduate" column="graduate" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>
