<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agoni.dgy.mapper.ResultMapper">

    <resultMap id="BaseResultMap" type="com.agoni.dgy.model.po.Result">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="result" column="result" jdbcType="BIGINT"/>
            <result property="isReset" column="is_reset" jdbcType="INTEGER"/>
            <result property="graduate" column="graduate" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createByName" column="create_by_name" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateByName" column="update_by_name" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,course_id,
        course_name,result,is_reset,
        graduate,create_time,create_by,
        create_by_name,update_time,update_by,
        update_by_name,del_flag
    </sql>
</mapper>
