<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agoni.dgy.mapper.RoleUserMapper">

    <select id="selectUserAndRole" resultType="com.agoni.dgy.model.vo.RoleUserVo">
        SELECT t.id,t.user_id,t.role_id,r.role_name FROM student_status_management.tb_role_user t
        LEFT JOIN ( SELECT * FROM student_status_management.tb_role WHERE del_flag = 0 ) r ON r.id = t.role_id
        <where>
            <if test="id != null">
                t.user_id = #{id}
            </if>
        </where>
    </select>
</mapper>
