<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agoni.dgy.mapper.UserPostMapper">

    <resultMap id="BaseResultMap" type="com.agoni.dgy.model.po.UserPost">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <id property="postId" column="post_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,post_id
    </sql>
</mapper>
