<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agoni.dgy.mapper.UserMapper">

    <select id="selectUserAndRolepage" resultType="com.agoni.dgy.model.vo.UserAndRole">
        SELECT t2.roles,t1.* FROM tb_user t1 LEFT JOIN
            (
                SELECT
                       user_id, GROUP_CONCAT( role_id ) AS roleIds, GROUP_CONCAT( role_name ) AS roles
                FROM
                     tb_role_user
                GROUP BY user_id
            ) t2 ON t2.user_id = t1.id
        where
              t1.del_flag=0
        <if test="userSearchFrom.name != null and userSearchFrom.name != ''">
            AND t1.name like concat("%",#{userSearchFrom.name},"%")
        </if>
        <if test="userSearchFrom.roles != null and userSearchFrom.roles != ''">
            AND t2.roleIds like concat("%",#{userSearchFrom.roles},"%")
        </if>
        <if test="userSearchFrom.deptId != null and userSearchFrom.deptId != 0">
            AND (t1.dept_id = #{userSearchFrom.deptId} OR t1.dept_id IN ( SELECT t.id FROM tb_dept t WHERE find_in_set(#{userSearchFrom.deptId}, ancestors) ))
        </if>
    </select>
</mapper>
