<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agoni.system.mapper.UserMapper">

    <select id="selectUserAndRolepage" resultType="com.agoni.system.model.vo.UserAndRole">
        SELECT t2.roles,t1.* FROM sys_user t1 LEFT JOIN
            (
                SELECT
                       user_id, GROUP_CONCAT( role_id ) AS roleIds, GROUP_CONCAT( role_name ) AS roles
                FROM
                     sys_role_user
                GROUP BY user_id
            ) t2 ON t2.user_id = t1.id
        where
              t1.del_flag=0
        <if test="userQuery.username != null and userQuery.username != ''">
            AND t1.username like concat("%",#{userQuery.username},"%")
        </if>
        <if test="userQuery.phone != null and userQuery.phone != ''">
            AND t1.phone = #{userQuery.phone}
        </if>
        <if test="userQuery.status != null">
            AND t1.status = #{userQuery.status}
        </if>
        <if test="userQuery.roles != null and userQuery.roles != ''">
            AND t2.roleIds like concat("%",#{userQuery.roles},"%")
        </if>
        <if test="userQuery.deptId != null and userQuery.deptId != 0">
            AND (t1.dept_id = #{userQuery.deptId} OR t1.dept_id IN ( SELECT t.id FROM sys_dept t WHERE find_in_set(#{userQuery.deptId}, ancestors) ))
        </if>
    </select>
</mapper>
